$color_1: #fff;
$background_color_1: rgba(0, 0, 0, 1.0);
$background_color_2: rgba(0, 0, 0, 0.5);
$background_color_3: #fff;

@keyframes closeWindow {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes pointFade {
  0%, 19.999%, 100% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
}

.ril__outer {
  background-color: $background_color_1;
  outline: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  -ms-content-zooming: none;
  -ms-user-select: none;
  -ms-touch-select: none;
  touch-action: none;
}

.ril__outerClosing {
  opacity: 0;
}

.ril__inner {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
}

.ril__image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  max-width: none;
  -ms-content-zooming: none;
  -ms-user-select: none;
  -ms-touch-select: none;
  touch-action: none;
}

.ril__imagePrev {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  max-width: none;
  -ms-content-zooming: none;
  -ms-user-select: none;
  -ms-touch-select: none;
  touch-action: none;

  .ril__loadingContainer {
    display: none;
  }

  .ril__errorContainer {
    display: none;
  }
}

.ril__imageNext {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  max-width: none;
  -ms-content-zooming: none;
  -ms-user-select: none;
  -ms-touch-select: none;
  touch-action: none;

  .ril__loadingContainer {
    display: none;
  }

  .ril__errorContainer {
    display: none;
  }
}

.ril__imageDiscourager {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.ril__navButtons {
  border: none;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 20px;
  height: 34px;
  padding: 40px 30px;
  margin: auto;
  cursor: pointer;
  opacity: 0.7;

  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 0.7;
  }
}

.ril__navButtonPrev {
  left: 0;
}

.ril__navButtonNext {
  right: 0;
}

.ril__downloadBlocker {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7');
  background-size: cover;
}

.ril__caption {
  background-color: $background_color_2;
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  justify-content: left;
  bottom: 0;
  max-height: 150px;
  overflow: auto;
}

.ril__toolbar {
  //background-color: $background_color_2;
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  top: 0;
  height: 50px;
}

.ril__captionContent {
  padding: 10px 20px;
  color: $color_1;
  font-size: .80em;

  .image-metadata, .image-metadata .title {
    color: white;
  }
}

.ril__toolbarSide {
  height: 50px;
  margin: 0;
}

.ril__toolbarLeftSide {
  padding-left: 20px;
  padding-right: 0;
  flex: 0 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ril__toolbarRightSide {
  padding-left: 0;
  padding-right: 20px;
  flex: 0 0 auto;
}

.ril__toolbarItem {
  display: inline-block;
  line-height: 50px;
  padding: 0;
  color: $color_1;
  font-size: 120%;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ril__toolbarItemChild {
  vertical-align: middle;
}

.ril__builtinButton {
  width: 40px;
  height: 35px;
  cursor: pointer;
  border: none;
  opacity: 0.7;

  &:hover {
    opacity: 1;
  }

  &:active {
    outline: none;
  }

}

.ril__builtinButtonDisabled {
  cursor: default;
  opacity: 0.5;

  &:hover {
    opacity: 0.5;
  }
}

.ril__closeButton {

}

.ril__zoomInButton {

}

.ril__zoomOutButton {

}

.ril__outerAnimating {
  animation-name: closeWindow;
}

.ril__loadingCircle {
  width: 60px;
  height: 60px;
  position: relative;
}

.ril__loadingCirclePoint {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;

  &::before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 11%;
    height: 30%;
    background-color: $background_color_3;
    border-radius: 30%;
    animation: pointFade 800ms infinite ease-in-out both;
  }

  &:nth-of-type(1) {
    transform: rotate(0deg);

    &::before {
      animation-delay: -800ms;
    }
  }

  &:nth-of-type(7) {
    transform: rotate(180deg);
    transform: rotate(180deg);

    &::before {
      animation-delay: -800ms;
      animation-delay: 0ms;
    }
  }

  &:nth-of-type(2) {
    transform: rotate(30deg);

    &::before {
      animation-delay: -666ms;
    }
  }

  &:nth-of-type(8) {
    transform: rotate(210deg);

    &::before {
      animation-delay: -666ms;
    }
  }

  &:nth-of-type(3) {
    transform: rotate(60deg);

    &::before {
      animation-delay: -533ms;
    }
  }

  &:nth-of-type(9) {
    transform: rotate(240deg);

    &::before {
      animation-delay: -533ms;
    }
  }

  &:nth-of-type(4) {
    transform: rotate(90deg);

    &::before {
      animation-delay: -400ms;
    }
  }

  &:nth-of-type(10) {
    transform: rotate(270deg);

    &::before {
      animation-delay: -400ms;
    }
  }

  &:nth-of-type(5) {
    transform: rotate(120deg);

    &::before {
      animation-delay: -266ms;
    }
  }

  &:nth-of-type(11) {
    transform: rotate(300deg);

    &::before {
      animation-delay: -266ms;
    }
  }

  &:nth-of-type(6) {
    transform: rotate(150deg);

    &::before {
      animation-delay: -133ms;
    }
  }

  &:nth-of-type(12) {
    transform: rotate(330deg);

    &::before {
      animation-delay: -133ms;
    }
  }

  &:nth-of-type(13) {
    transform: rotate(360deg);

    &::before {
      animation-delay: 0ms;
    }
  }
}

.ril__loadingContainer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.ril__errorContainer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color_1;
}

.ril__loadingContainer__icon {
  color: $color_1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
