.news-theme-gallery {
  display: block;
  width: 100%;
  overflow: hidden;

  p.image-metadata{
    font-size: 0.875rem;
    color: #7F8C8D;
    margin: 8px 0;
    line-height: 1rem;
  }

  button {
    background: none;
    border: none;
    padding: 0;
    height: auto;
  }

  .controls-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .playback-controls {
      button > span {
        margin: 0 30px 0 4px;
      }
    }

    .image-change-controls {
      > * {
        margin-left: 12px;
      }
    }

    .playback-controls, .image-change-controls {
      flex: 0 0 auto;
      line-height: 1;
      margin: 6px 0;
      width: auto;

      > button {
        display: flex;
        align-items: center;

        svg {
          height: 1rem;
          width: 1rem;
        }

        > * {
          flex: auto;
          line-height: 1;
        }
      }

      &, > button > span {
        display: inline-flex;
        align-items: center;
        color: #191919;
        font-size: 14px;
        font-weight: 500;
      }
    }
  }

  .gallery-carousel-container {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    height: 450px;
    background-color: black;

    .image-wrapper {
      text-align: center;
      width: 100%;
      height: 100%;
      display: inline-block;
      transition-property: transform;

      img {
        object-fit: contain;
        height: 100%;
      }
    }

    button {
      position: absolute;
      top: 50%;
      height: 3rem;
      width: 3rem;

      &.prev-button {
        left: 0;
      }

      &.next-button {
        right: 0;
      }
    }
  }
}
