{
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "."
        ],
        "alias": {
          "fusion:themes": "./jest/mocks/themes.js",
          "fusion:content": "./jest/mocks/content.js",
          "fusion:context": "./jest/mocks/context.js",
          "fusion:consumer": "./jest/mocks/consumer.js",
          "fusion:environment": "./jest/mocks/environment.js",
          "fusion:properties": "./jest/mocks/properties.js",
          "fusion:static": "./jest/mocks/static.js"
        }
      }
    ]
  ]
}